html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#canvas-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#canvas-container canvas {
  display: block;
  width: 100%;
  height: 100%;
}